Repository BHelpful/Mealplanr-api, changes with the owners that CODEOWNERS names for each.
All owners: @BHelpful/Mealplanr, @BHelpful/noSQL, @BHelpful/Swagger-api-documentation, @BHelpful/RESTful-API

CODEOWNERS:

# Global codeowners
* @BHelpful/Mealplanr

# Owns model files containing the mongoose noSQL schemas (also the documents file with reusable schemas)
*.model.ts @BHelpful/noSQL
documents.ts @BHelpful/noSQL

# Owns the file for routing as well as containing the swagger api documentation
routes.ts @BHelpful/Swagger-api-documentation

# Owns all in the api folder
/api/scr/ @BHelpful/RESTful-API

Added correct refrences for schemas and interfaces for those schemas
  api/src/DBmethods/documents.ts
  api/src/DBmethods/session/session.model.ts
  api/src/DBmethods/user/user.model.ts
Owners: @BHelpful/noSQL

Missed some refrences for the mongoose schemas
  api/src/DBmethods/documents.ts
Owners: @BHelpful/noSQL

Moved validatePassword to session service, at is is in that context it is needed
  api/src/DBmethods/session/session.controller.ts
  api/src/DBmethods/session/session.service.ts
  api/src/DBmethods/user/user.service.ts
Owners: @BHelpful/Mealplanr

Added some documentation and made ready for docstrings for all current functions
  api/src/DBmethods/session/session.controller.ts
  api/src/DBmethods/session/session.service.ts
  api/src/DBmethods/user/user.controller.ts
  api/src/DBmethods/user/user.model.ts
  api/src/DBmethods/user/user.service.ts
  api/src/connect.ts
  api/src/logger/index.ts
  api/src/middleware/validateRequest.ts
  api/src/routes.ts
  api/src/utils/jwt.utils.ts
Owners: @BHelpful/Mealplanr, @BHelpful/noSQL, @BHelpful/Swagger-api-documentation

Moved the config file in order to add it to the gitignore file
  .gitignore
  api/config/default.ts
  api/src/DBmethods/user/user.controller.ts
  api/src/DBmethods/user/user.model.ts
  api/src/DBmethods/user/user.service.ts
  api/src/connect.ts
  api/src/utils/jwt.utils.ts
Owners: @BHelpful/Mealplanr, @BHelpful/noSQL

Added more docstrings
  .gitignore
  api/src/DBmethods/session/session.controller.ts
Owners: @BHelpful/Mealplanr

Added docstrings and comments
  api/src/DBmethods/session/session.schema.ts
  api/src/DBmethods/session/session.service.ts
  api/src/middleware/deserializeUser.ts
  api/src/utils/jwt.utils.ts
Owners: @BHelpful/Mealplanr

Working log out
  api/src/DBmethods/session/session.controller.ts
  api/src/DBmethods/session/session.service.ts
  api/src/app.ts
  api/src/middleware/deserializeUser.ts
  api/src/middleware/index.ts
  api/src/middleware/requiresUser.ts
  api/src/routes.ts
Owners: @BHelpful/Mealplanr, @BHelpful/Swagger-api-documentation

Removed unnessesary logs
  api/src/middleware/deserializeUser.ts
  api/src/middleware/requiresUser.ts
Owners: @BHelpful/Mealplanr

Added docstrings and comments to all current files
  api/src/DBmethods/user/user.model.ts
  api/src/logger/index.ts
  api/src/routes.ts
Owners: @BHelpful/noSQL, @BHelpful/Mealplanr, @BHelpful/Swagger-api-documentation

Added final docstring for sessions implementaiton in API
  api/src/DBmethods/session/session.controller.ts
Owners: @BHelpful/Mealplanr

Tested working with all functionality of sessions
  api/src/routes.ts
Owners: @BHelpful/Swagger-api-documentation

Added todo
  api/src/DBmethods/documents.ts
Owners: @BHelpful/noSQL

Moved models to seperate folders
  api/src/DBmethods/category/category.model.ts
  api/src/DBmethods/documents.ts
  api/src/DBmethods/ingredient/ingredient.model.ts
  api/src/DBmethods/recipe/recipe.model.ts
  api/src/DBmethods/store/store.model.ts
  api/src/DBmethods/user/user.model.ts
Owners: @BHelpful/noSQL

Added readme describing the APIs structure
  api/src/README.md
Owners: @BHelpful/Mealplanr

Removed unused readme file
  api/README.md
Owners: @BHelpful/Mealplanr

Moved contents of readme to the first readme
  README.md
  api/src/DBmethods/README.md
  api/src/README.md
Owners: @BHelpful/Mealplanr

Renamed DBmethods to collections
  README.md
  api/src/collections/category/category.model.ts
  api/src/collections/documents.ts
  api/src/collections/ingredient/ingredient.model.ts
  api/src/collections/recipe/recipe.model.ts
  api/src/collections/session/session.controller.ts
  api/src/collections/session/session.model.ts
  api/src/collections/session/session.schema.ts
  api/src/collections/session/session.service.ts
  api/src/collections/store/store.model.ts
  api/src/collections/user/user.controller.ts
  api/src/collections/user/user.model.ts
  api/src/collections/user/user.schema.ts
  api/src/collections/user/user.service.ts
  api/src/middleware/deserializeUser.ts
  api/src/routes.ts
Owners: @BHelpful/Mealplanr, @BHelpful/noSQL, @BHelpful/Swagger-api-documentation

First try at adding swagger documentation
  api/package.json
  api/src/app.ts
  api/src/routes.ts
  api/yarn.lock
Owners: @BHelpful/Mealplanr, @BHelpful/Swagger-api-documentation

Added a bit to todo
  api/src/routes.ts
Owners: @BHelpful/Swagger-api-documentation

Implemented the first version of swagger documentation
  api/package.json
  api/src/app.ts
  api/src/collections/category/category.model.ts
  api/src/collections/ingredient/ingredient.model.ts
  api/src/collections/recipe/recipe.model.ts
  api/src/collections/session/session.model.ts
  api/src/collections/session/session.service.ts
  api/src/collections/store/store.model.ts
  api/src/collections/user/user.model.ts
  api/src/collections/user/user.schema.ts
  api/src/collections/user/user.service.ts
  api/src/routes.ts
  api/src/swagger.json
  api/tsconfig.json
  package.json
  yarn.lock
Owners: @BHelpful/Mealplanr, @BHelpful/noSQL, @BHelpful/Swagger-api-documentation

Stuff
  api/src/collections/user/user.schema.ts
  api/src/routes.ts
Owners: @BHelpful/Mealplanr, @BHelpful/Swagger-api-documentation

Added descriptions and dested swagger implementation of /api/users
  api/src/collections/category/category.model.ts
  api/src/collections/documents.ts
  api/src/collections/ingredient/ingredient.model.ts
  api/src/collections/recipe/recipe.model.ts
  api/src/collections/session/session.model.ts
  api/src/collections/store/store.model.ts
  api/src/collections/user/user.controller.ts
  api/src/collections/user/user.model.ts
  api/src/swagger.json
Owners: @BHelpful/noSQL, @BHelpful/Mealplanr

Removed redundency
  api/src/collections/documents.ts
  api/src/collections/ingredient/ingredient.model.ts
  api/src/routes.ts
Owners: @BHelpful/noSQL, @BHelpful/Swagger-api-documentation

Almost finished w. api/users
  api/src/routes.ts
Owners: @BHelpful/Swagger-api-documentation

Added swagger for post sessions
  api/src/collections/session/session.schema.ts
  api/src/routes.ts
Owners: @BHelpful/Mealplanr, @BHelpful/Swagger-api-documentation

First version of the fully documented API (as of now)
  api/src/routes.ts
  api/src/routes/sessions.ts
  api/src/routes/users.ts
Owners: @BHelpful/Swagger-api-documentation, @BHelpful/Mealplanr
